textarea {
  width: 100%;
  height: 400px;
  resize: none;
}

.headerline {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.error {
  margin-left: 10px;
  width: 100%;
}

.admin_tools {
  margin-left: 10px;
}

.admin_tools > button {
  font-size: x-large;
  margin-left: 10px;
}

form.admin_tools > button {
  border: 0;
}

.headerline > form > div > input {
  font-size: x-large;
  margin-bottom: 5px;
  margin-right: 10px;
}
