@if (note(); as n) {
  <div class="headerline">
    @if (renaming()) {
      @if (saveError()) {
        <p class="error">{{ saveError() }}</p>
      }

      <form
        (ngSubmit)="save()"
        class="admin_tools">
        <div>
          <label
            class="invisible"
            for="newTitle">New title to set</label>
          <input
            #titleInput
            type="text"
            [(ngModel)]="newTitle"
            (keydown.escape)="cancelTitleRenaming()"
            name="newTitle"
            id="newTitle" />
        </div>
        <button
          type="submit"
          [disabled]="saving()">💾</button>
      </form>
    } @else {
      <h1>{{ displayTitle() }}</h1>
    }

    <div class="admin_tools">
        @if (isCreator() && !renaming()) {
          <button
            title="Rename note"
            [disabled]="renaming()"
            (click)="rename()">🖉</button>
        }

        <button
          title="{{ deleteButtonTitle() }}"
          [disabled]="deleting()"
          (click)="delete()">🗑</button>
      </div>
  </div>

  @if (deleteError()) {
    <p class="error">{{ deleteError() }}</p>
  }

  <textarea
    [ngModel]="n.content"
    (ngModelChange)="onContentChange($event)"></textarea>

  <section>
    @if (collaborators().length > 0) {
      <h2>Collaborators</h2>
      <ul>
        @for (user of collaborators(); track user.id) {
          <li class="collaborator">
            {{ user.email }}

            @if (createdBy(n, user)) {
              <span class="author">(Author)</span>
            } @else if (isCreator()) {
              <button
                title="Remove collaborator"
                [disabled]="saving()"
                (click)="removeCollaborator(user.id)">🗑</button>
            }
          </li>
        }
      </ul>
    }

    @if (isCreator()) {
      <form (ngSubmit)="addCollaborator()">
        <div>
          <label
            class="invisible"
            for="collaboratorEmail">Collaborator to add</label>
          <input
            type="email"
            [(ngModel)]="newCollaboratorEmail"
            name="collaboratorEmail"
            id="collaboratorEmail"
            placeholder="Add collaborator by email" />
        </div>
        <button
          type="submit"
          [disabled]="saving()">Add</button>
      </form>

      @if (collaboratorError()) {
        <p class="error">{{ collaboratorError() }}</p>
      }
    }
  </section>
} @else if (error()) {
  <p class="error">{{ error() }}</p>
} @else {
  <p>Loading...</p>
}
