<div class="main">
  <div class="frame">
    @if (!onHomePage()) {
      <button class="left"
        (click)="goHome()">←</button>
    }

    @if (auth.currentUser(); as user) {
      <p class="logout">
        {{ user.email }} — <button (click)="logout()">Log out</button>
      </p>
    } @else {
      <div class="account">
        <h2>{{ loginRegisterHeader() }}</h2>

        @if (error) {
          <p class="error">{{ error }}</p>
        }

        <form (ngSubmit)="submit()">
          <label
            for="email">Email</label>
          <div class="input">
            <input
              #emailField="ngModel"
              type="email"
              [(ngModel)]="email"
              name="email"
              id="email"
              email
              required />
            @if (emailField.touched && emailField.errors?.['email']) {
              <small class="error">Please enter a valid email address.</small>
            }
          </div>

          <label
            for="password">Password</label>
          <div class="input">
            <input
              #passwordField="ngModel"
              type="password"
              [(ngModel)]="password"
              name="password"
              id="password"
              minlength="5"
              required />
            @if (passwordField.touched && passwordField.errors?.['minlength']) {
              <small class="error">Password requires minimum 5 characters.</small>
            }
          </div>

          <button
            [disabled]="accounting() || emailField.invalid || passwordField.invalid"
            type="submit">{{ loginRegisterSubmit() }}</button>
        </form>

        @if (mode() === 'login') {
          <p>No account?
            <button
              [disabled]="accounting()"
              (click)="mode.set('register')">Register</button>
          </p>
        } @else {
          <p>Already have an account?
            <button
              [disabled]="accounting()"
              (click)="mode.set('login')">Log in</button>
          </p>
        }
      </div>
    }

    <button class="hamburger" (click)="toggleMenu($event)">≡</button>
  </div>

  <div class="nav_trapezoid" [class.hide]="hideNav()"></div>

  <nav [class.hide]="hideNav()">
    <ul>
      @for (menuItem of menuItems(); track menuItem.name) {
        <li>
          @if (menuItem.active) {
            <button (click)="menuItem.callback($event)">
              <pn-menu-item [menuItem]="menuItem" />
            </button>
          } @else {
            <em>
              <pn-menu-item [menuItem]="menuItem" />
            </em>
          }
        </li>
      }
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
