.toaster {
  background-color: var(--color-surface);
  border: 1px solid;
  display: flex;
  flex-wrap: nowrap;
  left: 10px;
  position: fixed;
  top: 5px;
  width: 200px;
  z-index: 1;
}

.close {
  width: 15%;
  margin-left: 5px;
}

.message {
  width: calc(85% - 5px);
}
