.notes-heading {
  margin-bottom: 10px;
}

.folder-name {
  font-weight: 600;
  margin-left: 5px;
  margin-right: 10px;
}

.folder > p,
.folder > ul {
  margin-left: 25px;
}

.folders-and-notes {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.folders,
.notes {
  width: 60%;
}

.form {
  width: 40%;
}

.folder-details {
  display: flex;
  flex-wrap: wrap;
}
