@if (auth.currentUser(); as user) {
  @if (toaster()) {
    <pn-toaster
      [toasterDto]="toaster()!"
      (closed)="toaster.set(null)" />
  }

  <h2 class="notes_heading">Your notes</h2>

  <div class="folders-and-notes">
    <div class="folders">
      @if (loading() === true)
      {
        <p>Loading folders...</p>
      } @else {
        @if (folders().length === 0) {
          <p>No folders yet.</p>
        } @else {
          <ul>
            @for (folder of folders(); track folder.id) {
              <li class="folder">
                <div class="folderDetails">
                  @if (folder.id === currentFolder()) {
                    <button
                      (click)="closeFolder()"
                      title="Close">🗁</button>
                  } @else {
                    <button
                      [disabled]="opening()"
                      (click)="openFolder(folder.id)"
                      title="Open">🗀</button>
                  }

                  @if (renamingFolder() === folder) {
                    @if (saveError()) {
                      <p class="error">{{ saveError() }}</p>
                    }

                    <form (ngSubmit)="saveFolder()">
                      <div>
                        <label
                          class="invisible"
                          for="renamedFolderName">New folder name to set</label>
                        <input
                          #folderNameInput
                          type="text"
                          [(ngModel)]="renamedFolderName"
                          (keydown.escape)="cancelFolderRenaming()"
                          name="renamedFolderName"
                          id="renamedFolderName" />
                      </div>
                      <button
                        type="submit"
                        [disabled]="savingFolder() === folder">💾</button>
                    </form>
                  } @else {
                    <span class="folderName">{{ folder.name }}</span>
                    <button
                      title="Rename {{ folder.name }}"
                      [disabled]="renamingFolder() === folder || deletingFolder() === folder"
                      (click)="renameFolder(folder)">🖉</button>
                  }

                  <button
                    title="Delete {{ folder.name }}"
                    [disabled]="savingFolder() === folder || deletingFolder() === folder"
                    (click)="deleteFolder(folder)">🗑</button>
                </div>

                @if (folder.id === currentFolder()) {
                  @if (opening()) {
                    <p>Loading notes in {{ folder.name }}...</p>
                  } @else if (notesInOpenFolder().length === 0) {
                    <p>No notes in this folder yet.</p>
                  } @else {
                    <pn-list-of-note-links
                      [inRootFolder]="false"
                      [listOfNoteLinks]="notesInOpenFolder()"
                      [availableFolders]="folders()"
                      (noteMovedToFolderId)="openFolder($event)"
                      (noteModified)="loadFolders()" />
                  }
                }
              </li>
            }
          </ul>
        }
      }
    </div>

    <div class="form">
      <h3 class="notes_heading">New folder</h3>
      <form (ngSubmit)="createFolder()">
        <div>
          <label
            class="invisible"
            for="folderName">Folder to add</label>
          <input
            [(ngModel)]="newFolderName"
            name="folderName"
            id="folderName"
            placeholder="Name" />
        </div>
        <button
          [disabled]="creating()"
          type="submit">Create</button>
      </form>
    </div>

    <div class="notes">
      @if (loading() === true)
      {
        <p>Loading notes in root...</p>
      } @else {
        @if (notes().length === 0) {
          <p>No notes yet.</p>
        } @else {
          <pn-list-of-note-links
            [inRootFolder]="true"
            [listOfNoteLinks]="notes()"
            [availableFolders]="folders()"
            (noteMovedToFolderId)="noteMovedFromRoot($event)"
            (noteModified)="loadNotes()" />
        }
      }
    </div>

    <div class="form">
      <h3 class="notes_heading">New note</h3>
      <form (ngSubmit)="createNote()">
        <div>
          <label class="invisible" for="noteTitle">Note to add</label>
          <input
            [(ngModel)]="newNoteTitle"
            name="noteTitle"
            id="noteTitle"
            placeholder="Title" />
        </div>
        <button
          [disabled]="creating()"
          type="submit">Create</button>
      </form>
    </div>
  </div>
}
